* {
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#background {
    background-color: black;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.snake {
    background: linear-gradient(red , grey);
    border: 1px dotted white;
}

.food {
    background: linear-gradient(green, blue)
    
}